/*****************************
00. Home CSS
*****************************/

.homepage-slide{
    background-image: url(../img/banner.jpg);
    @extend %backgroundimage;
}


/*=========services-area============*/ 
.services-box {
    background-color: #fff;
    margin-top: -80px;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.05);
}
.single-service-item {
    padding: 30px 40px;
    border-right: 1px solid #E7E7E7;
    margin: 40px 0;
    h3 {
        font-weight: 300;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 20px;
        a {
            border-bottom: 2px solid transparent;
        }
        a:hover {
            border-bottom: 2px solid #2A7D2E;
        }
    }
    a {
        color: #2A7D2E;
        display: inline-block;
    }
}
.col-md-3:nth-child(4) .single-service-item {
    border-right: 0;
}

/*===========.about-us-area================*/ 
.about-us-area {
    padding: 90px 0 40px 0;
}
.about-big-title {
    margin-bottom: 90px;
    h1 {
        font-size: 70px;
        line-height: 74px;
        font-weight: 200;
        color: #2A7D2E;
        margin-bottom: 25px;
    }
}
.single-about-item {
    .number {
        font-weight: 500;
        font-size: 80px;
        display: block;
        line-height: 96px;
        color: #2A7D2E;
        margin-bottom: 15px;
        span {
            display: block;
            font-size: 34px;
            line-height: 34px;
            font-weight: 300;
            font-family: $patric-font;
            margin-top: 10px;
        }
    }
    h3 {
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 10px;
    }
}


/*========portfolio-area==========*/ 
.portfolio-area {
    background-color: #FBF9F6;
    padding: 70px 0 50px;
    .section-title {
        margin-bottom: 30px;
    }
}
ul.portfolio-menu {
    li {
        display: inline-block;
        color: #0b3d2c;
        font-weight: 700;
        padding: 7px;
        cursor: pointer;
    }
}


.services-area-2{
    margin: 20px 0;
    .pleft {
        padding-left: 85px;
    }
}

.srbanner-2{background-image: url(../img/banner.jpg)}
.service-banner-2{
    @extend %backgroundimage;
    height: 450px;
}
.service-left-2 {
    color: #878275;
    font-size: 22px;
    line-height: 26px;
    padding-right: 50px;
    padding-bottom: 120px;
    padding-top: 180px;
}

.service-wrap{
    h3{
        font-size: 26px;
        line-height: 30px;
        font-weight: 300;
    }
    .single-service-one {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 100px;
        margin-top: -70px;
        position: relative;
        z-index: 2;
        &:after {
            background-color: #fff;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100px;
            content: "";
            z-index: -1;
        }
        h3 {
            color: #2a7d2e;
        }
        h4 {
            color: #0b3d2c;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            margin: 35px 0 10px;
        }
        ul {
            list-style: disc;
            margin-left: 30px;
            li {
                margin-bottom: 7px;
            }
        }
    }
    .single-service-two {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 90px;
        padding-bottom: 30px;
        background-color: #2A7D2E;
        color: #fff;
        .boxed-btn {
            border-color: #fff;
            margin-top: 15px;
            &:hover {
                background-color: #fff;
                color: #2A7D2E;
            }
        }
    }
}

.service-bg-2{background-image: url(../img/nature-1.jpg)}
.single-service-bg-2{
    @extend %backgroundimage;
    height: 480px;
}
.single-service-four {
    padding: 100px 0 30px 50px;
}
.single-service-four h3 {
    color: #2A7D2E;
}
.author-wrap h5 {
    color: #0b3d2c;
    font-size: 16px;
}


/*===========.testimonials-area============*/ 
.testimonials-area h5 {
    font-size: 16px;
}
.single-testimonial {
    font-size: 22px;
    line-height: 30px;
    padding: 0 40px;
}
.testimonials-area .section-title {
    margin-bottom: 5px;
}
.testimonials-area {
    padding: 80px 0 110px;
    background-color: #FBF9F6;
}
.testimonials-area .owl-dots {
    margin-top: 20px;
}
.testimonial-author .author-name {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    margin-left: 30px;
    &:after {
        position: absolute;
        left: -20px;
        top: 14px;
        width: 10px;
        height: 1px;
        background-color: #2F2F2F;
        content: "";
    }
}
.author-review span {
    font-size: 16px;
}