/*================ Home-Page CSS ===================*/

/*========.header-area============*/ 
.header-area{
    @extend %posrelative;
}
.site-logo {
    @extend %posabsolute;
    left: 0;
    top: 0;
    width: 200px;
    z-index: 9;
    background: #2A7D2E;
    height: 150px;
}
.site-logo img {
    width: 170px;
    margin-left: 15px;
    margin-top: 10px;
}


/*==========.homepage-slider-area=============*/ 
.slide-bg-1{background-image: url(../img/slide-1.jpg)}
.slide-bg-2{background-image: url(../img/slide-2.jpg)}
.homepage-slider-area, .single-homepage-slide{
    @extend %backgroundimage;
    height: 650px;
}
.single-homepage-slide{
    @extend %white-color;
    font-size: 22px;
    font-weight: 600;
    padding-top: 170px;
    
}
.single-homepage-slide h1{
    font-size: 66px;
    line-height: 81px;
    font-weight: 700;
    @extend %white-color;
}
.slide-btn:nth-child(1) .boxed-btn {
    @extend %backtransaprent;
}
.slide-btn .boxed-btn:nth-child(1) {
    @extend %backtransaprent;
    border-color: #fff;
    margin-right: 10px;
}
.slide-btn .boxed-btn:nth-child(2) {
    @extend %white-bg-color;
    @extend %primary-color;
}
.slide-btn .boxed-btn:hover:nth-child(2) {
    @extend %primary-bg-color;
    @extend %white-color;
}
.slide-btn .boxed-btn {
    font-size: 13px;
    line-height: 17px;
    font-weight: 500;
    margin-top: 30px;
}
.slide-btn .boxed-btn:hover {
    @extend %primary-bg-color;
    border-color: #2A7D2E;
    @extend %white-color;
}
.homepage-slider-area .owl-nav div {
    left: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 35px;
    background-color: rgba(255,255,255,.1);
    @extend %invisible;
    @extend %basetransition2;
}
.homepage-slider-area .owl-nav div.owl-next {
    left: auto;
    right: 20px;
}
.homepage-slider-area:hover .owl-nav div {
    @extend %visible;
}
.homepage-slider-area .owl-nav div:hover {
    @extend %primary-bg-color;
    @extend %white-color;
}


/*=========services-area============*/ 
.services-area{
    @extend %posrelative;
    @extend %zindex2;
}
.grass-img {
    @extend %posabsolute;
    left: 0;
    top: -101px;
    right: 0;
    @extend %textcenter;
}
.services-box {
    @extend %white-bg-color;
    margin-top: -80px;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.05);
}
.single-service-item {
    padding: 30px 40px;
    border-right: 1px solid #E7E7E7;
    margin: 40px 0;
}
.single-service-item a{
    @extend %primary-color;
    @extend %inlineblock;
}
.single-service-item .iconht a{
    border-bottom: 2px solid transparent;
}
.single-service-item .iconht a:hover{
    border-bottom: 2px solid #2A7D2E;
}
.single-service-item h3{
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 20px;
}
.single-service-item .service-icon{
    margin-bottom: 15px;
}
.col-md-3:nth-child(4) .single-service-item {
    border-right: 0;
}

/*===========.about-us-area================*/ 
.about-us-area {
    padding: 90px 0 0px 0;
}
.about-big-title {
    margin-bottom: 80px;
}
.about-big-title h1{
    font-size: 70px;
    line-height: 74px;
    font-weight: 200;
    @extend %primary-color;
    margin-bottom: 25px;
}
.single-about-item {
    -ms-flex-preferred-size: 24%;
    flex-basis: 24%;
    padding-bottom: 50px;
}
.single-about-item .number{
    font-weight: 500;
    font-size: 80px;
    @extend %displayblock;
    line-height: 96px;
    @extend %primary-color;
    margin-bottom: 15px;
}
.single-about-item .number .yeart{
    @extend %displayblock;
    font-size: 34px;
    line-height: 34px;
    font-weight: 300;
    font-family: $patric-font;
    margin-top: 10px;
}
.single-about-item h3{
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 10px;
}
.about-leaf-bg {
    width: 14%;
}
.about-leaf-bgleft{
    background-image: url(https://landscaping.vamtam.com/wp-content/uploads/2017/09/plants-left.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: scroll;
    background-size: auto;
}
.about-leaf-bgright{
    background-image: url(https://landscaping.vamtam.com/wp-content/uploads/2017/09/plants-right.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: scroll;
    background-size: auto;
}

/*========portfolio-area==========*/ 
.portfolio-area {
    background-color: #FBF9F6;
    padding: 70px 0 50px;
}
.portfolio-area .section-title {
    margin-bottom: 30px;
}
.portfolio-filters button {
    @extend %secondary-color;
    font-weight: 700;
    margin: 7px;
    border: none;
    @extend %cursorpointer;
    @extend %backtransaprent;
    @extend %posrelative;
    &:before {
        @extend %posabsolute;
        content: attr(data-count);
        width: 25px;
        height: 20px;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        @extend %white-color;
        font-size: 11px;
        @extend %primary-bg-color;
        line-height: 1.8;
        @extend %textcenter;
        opacity: 0;
        @extend %basetransition;
    }
    &::after {
        @extend %posabsolute;
        content: "";
        width: 0;
        height: 0;
        bottom: -4px;
        left: 50%;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #2a7d2e;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: bottom .3s;
        transition: bottom .3s;
        opacity: 0;
    }
}
.portfolio-filters button:hover::before {
    bottom: 110%;
    opacity: 1;
}
.portfolio-filters button:hover::after {
    bottom: calc(110% - 4px);
    opacity: 1;
}
.portfolio-filters button.is-checked {
    text-decoration: line-through;
}
.portfolio__content {
    @extend %posrelative;
    overflow: hidden;
    border-radius: 10px;
    @extend %displayblock;
}
.hover-content {
    @extend %posabsolute;
    @extend %w100;
    height: auto;
    left: 0;
    bottom: 0;
    z-index: 1;
    @extend %textcenter;
    @extend %white-color;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    @extend %basetransition;
    opacity: 0;
}
.portfolio__content:hover .hover-content {
    bottom: 50%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 1;
}
.portfolio__content::before {
    @extend %posabsolute;
    content: "";
    @extend %w100;
    @extend %h100;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    z-index: 1;
}
.portfolio__content:hover:before {
    opacity: 1;
}
.portfolio__content .portfolio-image img {
    -webkit-transform: scale(1);
    transform: scale(1);
    @extend %basetransition;
    @extend %w100;
}
.portfolio__content:hover .portfolio-image img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.portfolio--item.grid-item {
    margin-top: 30px;
}


/*========.services-area-2=======*/ 
.services-area-2{
    margin: 20px 0;
}
.services-area-2 .pleft {
    padding-left: 85px;
}

.srbanner-2{background-image: url(../img/banner.jpg)}
.service-banner-2{
    @extend %backgroundimage;
    height: 450px;
}
.service-left-2 {
    color: #878275;
    font-size: 22px;
    line-height: 26px;
    padding-right: 50px;
    padding-bottom: 120px;
    padding-top: 180px;
    background-image: url(https://landscaping.vamtam.com/wp-content/uploads/2017/09/Leaf-1-1.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

.service-wrap{
    h3{
        font-size: 26px;
        line-height: 30px;
        font-weight: 300;
    }
    .single-service-one {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 100px;
        margin-top: -70px;
        @extend %posrelative;
        @extend %zindex2;
        &:after {
            @extend %white-bg-color;
            @extend %posabsolute;
            left: 0;
            top: 0;
            @extend %w100;
            @extend %h100;
            content: "";
            z-index: -1;
        }
        h3 {
            @extend %primary-color;
        }
        h4 {
            @extend %secondary-color;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            margin: 35px 0 10px;
        }
        ul {
            list-style: disc;
            margin-left: 30px;
            li {
                margin-bottom: 7px;
            }
        }
    }
    .single-service-two {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 90px;
        padding-bottom: 30px;
        @extend %primary-bg-color;
        @extend %white-color;
        .boy-icon{
            margin-bottom: 15px;
        }
        .boxed-btn {
            border-color: #fff;
            margin-top: 15px;
            &:hover {
                @extend %white-bg-color;
                @extend %primary-color;
            }
        }
    }
}

.service-bg-2{background-image: url(../img/nature-1.jpg)}
.single-service-bg-2{
    @extend %backgroundimage;
    height: 480px;
}
.single-service-four {
    padding: 100px 0 30px 50px;
}
.single-service-four h3 {
    @extend %primary-color;
}
.author-wrap h5 {
    @extend %secondary-color;
    font-size: 16px;
}


/*===========.testimonials-area============*/ 
.testimonial-bg{background-image: url(https://landscaping.vamtam.com/wp-content/uploads/2017/09/Leaf-testimonials-1.svg);}
.testimonials-area {
    padding: 80px 0 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: contain;
    border-bottom: 1px solid #F5F1EB;
}
.testimonials-area h5 {
    font-size: 16px;
}
.single-testimonial {
    font-size: 22px;
    line-height: 30px;
    padding: 0 40px;
}
.testimonials-area .section-title {
    margin-bottom: 5px;
}

.testimonial-like-icon{
    padding-top: 90px;
    padding-bottom: 20px;
}
.testimonials-area .owl-dots {
    margin-top: 20px;
}
.testimonial-author .author-name {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    @extend %posrelative;
    margin-left: 30px;
    &:after {
        @extend %posabsolute;
        left: -20px;
        top: 14px;
        width: 10px;
        height: 1px;
        background-color: #2F2F2F;
        content: "";
    }
}
.author-review span {
    font-size: 16px;
}