/*============== Footer CSS ================*/
.footer-area {
    padding: 115px 0 30px;
    @extend %backgroundimage;
    background-color: #FBFAF6;
}
.footer-bg{background-image: url(../img/footer.jpg)}
.footer-area .boxed-btn {
    @extend %backtransaprent;
    @extend %primary-color;
    margin-bottom: 40px;
}

.footer-area .boxed-btn:hover {
    @extend %primary-bg-color;
    @extend %white-color;
}
.footer-text a{
    @extend %primary-color;
    border-bottom: 2px solid transparent;
    &:hover{
        border-bottom: 2px solid #2A7D2E;
    }
    
}
.fbfooter{
    display: inline-block;
    font-size: 30px;
    margin-top: 30px;
    @extend %primary-color;
    &:hover{
        color: #154D32 !important;
    }
}