/*==============Common CSS===================*/

body {
    font-family: $body-font;
    font-size: $body-font-size;
    color: $body-color;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 500;
}
p {
    &:last-child{
    	margin-bottom: 0;
    }
}
a, button, img, input, span {
    @extend %basetransition; 
}
input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], textarea {
    border-radius: 50px;
    height: 50px;
    padding: 8px 20px;
}
.form-group {
    margin-bottom: 25px;
    .form-control{
        &:focus {
            box-shadow: none;
            border-color: #2a7d2e;
        }
        &:hover {
            border-color: #2a7d2e;
        }
    }
}
textarea {
    height: 150px;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: -7px;
    &:focus {
        border-color: #2a7d2e;
    }
    &:hover {
        border-color: #2a7d2e;
    }
}
input[type=submit], button[type=submit]{
    cursor: pointer;
    padding: 10px 25px;
}
input[type=submit]:hover, button[type=submit]:hover {
    background-color: #154D32 ;
    color: #fff;
}
input, textarea{
	@include placeholder{
		color: $body-color;
	}
}
.section-title {
    font-size: 46px;
    line-height: 52px;
    color: #124a2f;
}



/*======.owl-dots customization=======*/
.owl-dots div {
    height: 14px;
    width: 14px;
    background: transparent;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid #000000;
}
.owl-dots {
    text-align: center;
}
.owl-dots div.active {
    background-color: #2A7D2E;
    border-color: #2A7D2E;
}

/*=====owl nav customization======*/
.owl-nav div {
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 50%;
    color: #2A7D2E;
    line-height: 60px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 45px;
    @extend %basetransition;
    padding-right: 5px;
    &.owl-next {
        left: auto;
        right: -10px;
        padding-left: 5px;
        padding-right: 0;
    }
    &:hover {
        color: #ffffff;
        background-color: #2A7D2E;
    }
}

/*========.nice-select=============*/ 
.nice-select {
    width: 100%;
    border-radius: 50px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    border-color:  #ced4da;
    .list {
        width: 100%;
        box-shadow: none;
        border: 1px solid #ced4da;
    }
    &:focus {
        border-color: #154D32;
    }
    &:hover {
        border-color: #154D32;
    }
    &:after{
        right: 25px;
        border-color: #ced4da;
        width: 10px;
        height: 10px;
        margin-top: -6px;
    }
    &:hover:after {
        border-color: #2A7D2E;
    }
}






















